.scoreboard {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    width: 600px;
    background: #272727;
}

.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.team-name { font-size: 36px; margin-bottom: 10px; }
.score { display: flex; align-items: center; font-size: 48px; font-weight: bold; }
.clock { display: flex; align-items: center; text-align: center; font-size: 36px; }
.events { margin-top: 30px; }

.color-inputs {
    display: flex;
}

.color-squares { 
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.color-square { width: 28px; height: 8px; }
